button{
    padding: 20px;
    height: 100px;
    border-radius: 10px;
    background-color: blue;
}
h1{color: blue;}

.display{
    padding: 20px;
    height: 120px;
    display: grid;
    grid-area: display;
}
.clear{
    display: grid;
    grid-area: clear;
}
.multiply{
    display: grid;
    grid-area: multiply;
}
.division{
    display: grid;
    grid-area: division;
}
.minus{
    display: grid;
    grid-area: minus;
}
.plus{
    display: grid;
    grid-area: plus;
}
.equal{
    display: grid;
    grid-area: equal;
}
.one{
    display: grid;
    grid-area: one;
}
.two{
    display: grid;
    grid-area: two;
}
.three{
    display: grid;
    grid-area: three;
}
.four{
    display: grid;
    grid-area: four;
}
.five{
    display: grid;
    grid-area: five;
}
.six{
    display: grid;
    grid-area: six;
}
.seven{
    display: grid;
    grid-area: seven;
}
.eight{
    display: grid;
    grid-area: eight;
}
.nine{
    display: grid;
    grid-area: nine;
}





.body{
    display: grid;
    grid-template-areas: 
    "display display display display"
    "clear clear clear division"
    "seven eight nine multiply"
    "four five six plus"
    "one two three minus"
    "zero zero zero equal"
    ;
}