button{
    padding: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    font-size: 40px;
}
.operation:active{
    background-color: rgba(255, 166, 0, 0.831);
}
.C3{
    width: 303px;
    margin-left: 2px;
}
.function{
    background-color: rgb(203, 199, 199);
}
.digit{
    background-color: dimgray;
    color: white;
}
.digit:active{
    background-color: rgba(105, 105, 105, 0.253);
}
.operation{
    background-color: orange;
    color: white;
}
button.clear{
    width: max-content;
}
.input{
    background-color: black;
    color: white;
    
}
.display{
    padding: 20px;
    height: 120px;
    display: grid;
    grid-area: display;
}
.clear{
    display: grid;
    grid-area: clear;
}
.multiply{
    display: grid;
    grid-area: multiply;
}
.division{
    display: grid;
    grid-area: division;
}
.minus{
    display: grid;
    grid-area: minus;
}
.plus{
    display: grid;
    grid-area: plus;
}
.equal{
    display: grid;
    grid-area: equal;
}
.zero{
    display: grid;
    grid-area: zero;
}
.one{
    display: grid;
    grid-area: one;
}
.two{
    display: grid;
    grid-area: two;
}
.three{
    display: grid;
    grid-area: three;
}
.four{
    display: grid;
    grid-area: four;
}
.five{
    display: grid;
    grid-area: five;
}
.six{
    display: grid;
    grid-area: six;
}
.seven{
    display: grid;
    grid-area: seven;
}
.eight{
    display: grid;
    grid-area: eight;
}
.nine{
    display: grid;
    grid-area: nine;
}


.body{
    background-color: black;
    height: 700px;
    width: 410px;
    margin: auto;
    margin-top: 100px;

    display: grid;
    grid-template-areas: 
    "display display display display"
    "clear clear clear division"
    "seven eight nine multiply"
    "four five six plus"
    "one two three minus"
    "zero zero zero equal"
    ;
}